In [108]:
import os, cv2
import tensorflow as tf
import matplotlib.pyplot as plt, numpy as np, pandas as pd
from tensorflow import keras

from centernet import CenterNet, decode

from data import VOCDataset
from losses import centernet_loss

In [70]:
input_shape = (512, 512)
backbone = 'resnet50'

epochs = 1
batch_size = 2
buffer_size = batch_size * 5
lr = 1e-2
freeze = True
finetune = True or freeze

data_path = "..\\..\\Centernet\\VOC2007"
train_file = "..\\..\\Centernet\\VOC2007\\ImageSets\\ceph\\train.txt"
val_file = "..\\..\\Centernet\\VOC2007\\ImageSets\\ceph\\val.txt"
test_file = "..\\..\\Centernet\\VOC2007\\ImageSets\\ceph\\test.txt"


train_dataset_raw = VOCDataset(data_path, input_shape, train_file,
                             batch_size, False)
train_dataset = train_dataset_raw.load_dataset()


val_dataset_raw = VOCDataset(data_path, input_shape, val_file,
                             batch_size, False)
val_dataset = val_dataset_raw.load_dataset()

########
test_dataset_raw = VOCDataset(data_path, input_shape, test_file,
                             batch_size, False)
test_dataset = test_dataset_raw.load_dataset()
########

vis_dataset_raw = VOCDataset(data_path, input_shape, train_file, 1, False)
vis_dataset = vis_dataset_raw.load_dataset().repeat()

steps_per_epoch = len(train_dataset_raw) // batch_size

loading the context of data_file ...: 50it [00:00, 50123.14it/s]
loading the context of data_file ...: 50it [00:00, 50111.16it/s]
loading the context of data_file ...: 550it [00:00, 551222.75it/s]

In [3]:
ckpt_path = './logs/test/20220525-180744/ckpt.h5'

model = CenterNet(train_dataset_raw.class_names,
                      backbone_weights='imagenet',
                      freeze=freeze,
                      finetune=finetune)

In [4]:
model.build(input_shape=(1, 512, 512, 3))
model.load_weights(ckpt_path)

In [5]:
hm_pred, wh_pred, reg_pred = model.predict(val_dataset)

In [85]:
detections_pred = decode(hm_pred, wh_pred, reg_pred, 1000)

In [91]:
def point_mse(arr, gt):
    pnt_x = int((arr[0] + arr[2])/2)
    pnt_y = int((arr[1] + arr[3])/2)

    xmin,ymin,xmax,ymax = gt

    gt_x = int((xmin + xmax)/2)
    gt_y = int((ymin + ymax)/2)

    return np.sqrt((gt_y-pnt_y)**2 + (gt_x-pnt_x)**2)

In [117]:
t = detections_pred

mse_result = []


for i in range(50):
    #topk_x1, topk_y1, topk_x2, topk_y2, scores, class_ids
    Glabella = []
    point_R3 = []
    Nasion = []


    for topk_x1, topk_y1, topk_x2, topk_y2, scores, class_ids in t[i]:

        if(class_ids==0):
            Glabella.append([topk_x1, topk_y1, topk_x2, topk_y2])

        elif(class_ids==1):
            point_R3.append([topk_x1, topk_y1, topk_x2, topk_y2])

        elif(class_ids==2):
            Nasion.append([topk_x1, topk_y1, topk_x2, topk_y2])

    
    #print(len(Glabella))
    
    Glabella = np.array(Glabella)
    point_R3 = np.array(point_R3)
    Nasion = np.array(Nasion)

    # ground truth
    Glabella_gt = val_dataset_raw[i][1][0]
    point_R3_gt = val_dataset_raw[i][1][1]
    Nasion_gt = val_dataset_raw[i][1][2]


    Glabella_mse = point_mse(Glabella[0], Glabella_gt)
    point_R3_mse = point_mse(point_R3[0], point_R3_gt)
    Nasion_mse = point_mse(Nasion[0], Nasion_gt)

    #print(Glabella_mse, point_R3_mse, Nasion_mse)


    mse_result.append([i+1, np.round(Glabella_mse, 4), np.round(point_R3_mse, 4), np.round(Nasion_mse, 4)])

In [120]:
mse_result_df = pd.DataFrame(mse_result, columns = ['Data_num', 'Glabella', 'R3', 'Nasion'], )

mse_result_df.to_csv('./csv/mse.csv', index=False)

In [116]:
mse_result_df

    index   Glabella         R3     Nasion
0       1  53.235327   6.403124  46.615448
1       2   8.000000   9.055385  29.154759
2       3  27.202941  10.000000  32.202484
3       4  46.097722   6.324555  38.626416
4       5  10.000000   5.000000   6.082763
5       6   5.385165   9.055385   4.123106
6       7   4.123106  11.401754  27.202941
7       8   6.324555   7.071068  12.529964
8       9   3.605551   8.062258   6.000000
9      10   6.708204   8.544004   8.246211
10     11   9.219544   9.055385   5.656854
11     12   8.544004  10.000000  19.723083
12     13   8.062258   5.000000   6.708204
13     14   6.082763  11.045361   7.280110
14     15   6.000000  10.049876   7.280110
15     16   4.472136   9.055385   6.000000
16     17   9.219544   6.324555   5.830952
17     18   7.280110   8.062258   4.242641
18     19   9.486833  11.180340   6.403124
19     20  10.816654   3.162278   5.099020
20     21  10.000000   8.062258   4.123106
21     22  53.225934   9.055385  45.541190
22     23   9.486833  11.401754   6.403124
23     24   6.082763  14.866069   7.280110
24     25   5.000000  10.295630   6.324555
25     26   8.544004  10.049876   7.071068
26     27   7.071068   1.000000   7.071068
27     28   7.280110   7.071068   6.708204
28     29   8.062258   4.123106   1.000000
29     30   4.242641   8.246211   2.236068
30     31   5.099020  14.866069   7.280110
31     32   5.000000  10.295630   6.324555
32     33   8.544004  10.049876   8.062258
33     34   8.000000   1.000000   6.082763
34     35   8.246211   8.062258   6.708204
35     36   8.062258   5.000000   1.000000
36     37   7.615773  10.000000  12.165525
37     38   5.099020   9.899495   6.082763
38     39  52.810984   8.062258   5.656854
39     40   5.099020   8.544004   5.656854
40     41   5.385165   7.071068   9.219544
41     42   6.000000  11.000000   7.071068
42     43   7.211103  10.000000   9.000000
43     44   9.055385   7.211103   7.810250
44     45  38.209946   7.211103  29.000000
45     46  14.866069   9.486833  42.720019
46     47  34.438351  10.295630  28.635642
47     48   6.082763   9.848858   7.615773
48     49   5.385165   9.219544   5.830952
49     50   7.810250   2.236068  12.000000